@import '../style/_var';
@import '~@codesandbox/sandpack-react/dist/index.css';

.#{$prefix} {
  display: flex;
  flex-direction: column;

  height: 100vh;

  &__main-content {
    display: flex;
    flex: 1;
  }

  &__stage {
    flex: 1;
  }
  &__r-panel {
    width: 320px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
  }
}
