@import '../../style/_var';

.#{$prefix}-rpanel {
  padding: 0 10px;

  &__btns {
    display: flex;
    justify-content: flex-end;
  }

  &__tabs {
    height: 100%;
    overflow: visible !important;

    .mmt-ant-tabs-content-holder {
      overflow: auto;
      margin-right: -10px;
      padding-right: 10px;

      padding-top: 20px;
      padding-bottom: 40px;
    }

    .mmt-ant-tabs-nav {
      margin-bottom: 0 !important;
    }
  }
}
