@import '../../style/_var';

.#{$prefix}-resize-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  border-top: 1px solid #f0f0f0;
  > * {
    margin-left: 5px;
    margin-right: 5px;
  }
}
