@import '../../style/_var';

.#{$prefix}-material-panel {
  &-dragging {
    .ant-image-mask {
      //display: none;
    }
  }
  &__asset-group {
    display: flex;
    flex-direction: column;

    &__container {
      display: flex;
    }

    &__cell {
      max-width: 33%;
      width: 33%;
      padding: 4px;
      background-color: #fff;

      border: 1px solid #e9e2e2;
      margin-left: -1px;

      display: flex;
      flex-direction: column;

      height: auto;
      aspect-ratio: 1/1;

      &__icon {
        height: 16px !important;
        width: 16px !important;
        line-height: 1 !important;
      }

      &__img {
        width: auto;
        max-height: 70px;
        object-fit: contain;
        margin: auto;
        overflow: hidden;
      }
      &__name {
        margin-top: 4px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
