@import '../../style/_var';

.#{$prefix}-header {
  height: 35px;
  display: flex;
  padding: 0 10px;
  align-items: center;

  z-index: 1;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);

  .mmt-ant-divider-vertical {
    top: 0;
    height: 1.2em;
  }

  &__switch {
    > * {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  &__logo {
    font-size: 20px;
    font-weight: 400;
    margin-right: 230px;
  }
}
