@import '../../style/_var';

.#{$prefix}-stage {
  display: flex;
  flex-direction: column;

  &__spin {
    flex: 1;
    margin-top: 40px;
  }

  &__iframe-wrapper {
    position: relative;
    margin: 20px;
    background-color: #fff;
    flex: 1;
    display: flex;
  }

  &__iframe-mask {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    height: 100%;
  }
  &__iframe {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
    z-index: 100;
  }
  &__iframe-floating-container {
    position: absolute;
    z-index: 200;
  }

  &__sandpack {
    &,
    .sp-wrapper,
    .sp-layout,
    .sp-stack,
    .sp-preview-container {
      height: 100% !important;
    }
  }
}
