@import '../../style/_var';

.#{$prefix}-stage {
  display: flex;
  flex-direction: column;

  &__sandpack {
    &,
    .sp-wrapper,
    .sp-layout,
    .sp-stack,
    .sp-preview-container {
      height: 100% !important;
    }
  }

  &__iframe {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
  }
}
